@model dynamic

@{
}

<div class="container">

    <h1>Admin</h1>

    <a asp-controller="Users" asp-action="index">Управление пользователями</a>
    <a asp-controller="Categories" asp-action="index">Управление пользователями</a>
    <a asp-controller="Articles" asp-action="index">Управление пользователями</a>
</div>

